<style>
    .css {
        color: black;
    }

    .css:hover {
        color: black;
    }
    }
</style>
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-12">
                <!-- Post content-->
                <article id="newsDetails">
                </article>
                <!-- Comments section-->
                <section>
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <form class="mb-4">
                                <textarea class="form-control commentsChange" rows="3"
                                    placeholder="Join the discussion and leave a comment!" id="commentSend"></textarea>
                                <button class="btn btn-outline-secondary mt-4" id="send">Send</button>
                            </form>
                            <br>
                            <div id="comments">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        var pathName = window.location.pathname;
        var idLoai = pathName.split("/");
        console.log("Type id " + idLoai);
        var id = idLoai[idLoai.length - 1];
        console.log("id " + id);
        $("#newsDetails").load("/tintuc/findone/" + id, "", function (response, status, request) {
            this; // dom element
            var dataJson = JSON.parse(response);
            var item = ``;
            if (dataJson.message != undefined) {
                if (dataJson.message == "Not found with id " + id + ".") {
                    item += `Không tìm thấy bài viết`;
                }
                else {
                    item += `Lỗi server không tìm thấy bài viết`;
                }
            }
            else {
                console.log(dataJson);
                var item = `
                 <!-- Post header-->
                 <header class="mb-4">
                     <!-- Post title-->
                     <h1 class="fw-bolder mb-1">`+ dataJson.tenbaiviet + `</h1>
                     <!-- Post meta content-->
                     <div class="text-muted fst-italic mb-2">`+ dataJson.DateTime + `</div>
                     <!-- Post categories-->
                     <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                     <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                 </header>
                 <!-- Preview image figure-->
                 <figure class="mb-4" style="text-align: center;">
                     <img class="img-fluid rounded"
                         src="/src/views/img/`+ dataJson.hinhanh + `" alt="..." style="width:1000px;height:auto"/>
                 </figure>
                 <!-- Post content-->
                 <section class="mb-5">
                    `+ dataJson.chitiettintuc + `
                 </section>
             `;
            }

            $(this).html("");
            $(this).html(item);
        });
        $("#comments").load("/comments/findwithidbai/" + id, "", function (response, status, request) {
            this; // dom element
            var dataJson = JSON.parse(response);
            var item = ``;
            if (dataJson.message != undefined) {
                if (dataJson.message == "Not found with id " + id + ".") {
                    item += `Bài viết chưa có comment`;
                }
                else {
                    item += `Không thể load được bình luận`;
                }
            }
            else {
                if (dataJson.lenght != 0) {
                    for (let i = 0; i < dataJson.length; i++) {
                        item += `
                    <div class="d-flex mb-3"  id="all-`+ dataJson[i].id + `">
                        <div class="flex-shrink-0"><img class="rounded-circle"
                                                src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                        <div class="ms-3">
                            <div class="fw-bold idnguoidung" >`+ dataJson[i].idNguoiDung + `</div>
                            <textarea class="form-control commentsChange"  id="comments-`+ dataJson[i].id + `" rows="2" cols="100" style="width: 165%;" disabled= 'true'>` + dataJson[i].binhLuan + `</textarea>
                            <div class="d-flex" id=`+ dataJson[i].id + `>
                                <a href="#" class="mr-auto p-2 css changes" onclick="changeComment('`+ dataJson[i].id + `','` + dataJson[i].idNguoiDung + `',event)">Chỉnh sửa</a> 
                                <a href="#"class="p-2 css delete" id="`+ dataJson[i].id + `-` + dataJson[i].idNguoiDung + `" onclick="deleteComment('` + dataJson[i].id + `','` + dataJson[i].idNguoiDung + `',event)">Xóa</a>
                            </div>
                        </div>
                    </div>
                   `;

                    }

                }
            }
            $(this).html("");
            $(this).html(item);
        });
        $("#send").click(function (e) {
            e.preventDefault();
            var item = $("#commentSend").val();
            var cookie = getCookie("userUser");
            if (item != " " && item != "" && item != null) {
                if (cookie != "") {
                    console.log("id " + id + " cookie" + cookie + " item " + item);
                    $.ajax({
                        type: "POST",
                        url: "/binhluan/ins",
                        data: {
                            idBaiViet: id,
                            binhLuan: item
                        },
                        success: function (response) {
                            console.log(response);
                            $("#commentSend").val("");
                            var itemComment = $("#comments").html();
                            $("#comments").html("");
                            $("#comments").html(itemComment + `
                                <!-- Single comment-->
                                    <div class="d-flex mb-3 " id="all-`+ response.id + `">
                                        <div class="flex-shrink-0"><img class="rounded-circle"
                                                src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                    
                                         <div class="ms-3">
                                            <div class="fw-bold">`+ response.idNguoiDung + `</div>
                                             <textarea class="form-control" id="comments-`+ response.id + `" rows="2" cols="100" style="width: 165%;" disabled= 'true'> ` + response.binhLuan + `</textarea>
                                             <div class="d-flex" id=`+ response.id + `>
                                                 <a href="#" class="mr-auto p-2 css changes" onclick="changeComment('`+ response.id + `','` + response.idNguoiDung + `',event)">Chỉnh sửa</a>
                                                <a href="#"class="p-2 css delete" id="`+ response.id + `-` + response.idNguoiDung + `">Xóa</a>
                                            </div>
                                        </div>
                                    </div>
                            `);
                        }
                    });
                }
                else {
                    alert("Bạn chưa đăng nhập");
                }
            }
        });
    });
    function changeComment(id_baiviet, nguoidung, event) {
        event.preventDefault();
        if (nguoidung.toLowerCase() != getCookie("userUser").toLowerCase()) {
            alert("Không thể chỉnh sửa bình luận này");
        }
        else {
            console.log($("#comments-" + id_baiviet).attr("disabled"));
            var disable = $("#comments-" + id_baiviet).attr("disabled");
            if (disable == "disabled") {
                $("#comments-" + id_baiviet).attr("disabled", false);
                var htmlOld = $("#" + id_baiviet).html();
                $("#" + id_baiviet).html("");
                $("#" + id_baiviet).html(htmlOld + `
                        <a href="#" class="p-2 css update" id="update-`+ id_baiviet + `-` + nguoidung + `" onclick="updateComment('` + id_baiviet + `','` + nguoidung + `',event)">Cập nhật</a>
                    `);
            }
            else {
                $("#comments-" + id_baiviet).attr("disabled", true);
                $("#update-" + id_baiviet + "-" + nguoidung).remove();
            }
        }
    }
    function updateComment(id_baiviet, nguoidung, event) {
        event.preventDefault();
        nguoidung = getCookie("userUser");
        var pathName = window.location.pathname;
        var idLoai = pathName.split("/");
        console.log("Type id " + idLoai);
        var id = idLoai[idLoai.length - 1];
        console.log("Sự kiện " + id + " id bài viết " + id_baiviet)
        var newComment = $("#comments-" + id_baiviet).val();
        if (newComment != "" && newComment != " ") {
            $.ajax({
                type: "PUT",
                url: "/binhluan/update/" + id_baiviet,
                data: {
                    idBaiViet: id,
                    idNguoiDung: nguoidung,
                    binhLuan: newComment
                },
                success: function (response) {
                    $("#comments-" + id_baiviet).val(newComment);
                    $("#comments-" + id_baiviet).attr("disabled", true);
                    $("#update-" + id_baiviet + "-" + nguoidung).remove();
                },
                statusCode: {
                    500: function () {
                        alert("Server is down. please try again later")
                    },
                    404: function () {
                        alert("Can't find this comments")
                    },
                    403: function () {
                        alert("You can't update this comments");
                    }
                }
            });
        }
        else {
            alert("Bạn chưa chỉnh sửa comments");
        }

    }
    function deleteComment(id_baiviet, nguoidung, event) {
        event.preventDefault();
        if (nguoidung.toLowerCase() != getCookie("userUser").toLowerCase()) {
            alert("Không thể chỉnh sửa bình luận này");
        }
        else {
            $.ajax({
                type: "DELETE",
                url: "/binhluan/delone/" + id_baiviet,
                data: {
                    idNguoiDung: nguoidung,
                },
                success: function (response) {
                    $("#all-" + id_baiviet).remove();
                },
                statusCode: {
                    500: function () {
                        alert("Server is down. please try again later")
                    },
                    404: function () {
                        alert("Can't finds this comments")
                    },
                    403: function () {
                        alert("You can't delete this comments");
                    }
                }
            });
        }

    }
</script>